<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Buy ' + ${book.getTitle()} + ' on Daedalus'" />
    <th:block th:insert="fragments/settings :: head" />
    <link rel="stylesheet" th:href="@{/css/gallery.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <script type="text/javascript" th:src="@{/js/gallery.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.js}"></script>
</head>
<body>
<header th:insert="fragments/header :: header" > </header>
<main role="main">
    <div class="container">
        <div class="py-5 text-center">
            <h1>Information</h1>
        </div>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <div>
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Cost</span>
                        <small th:text="${book.cost}"/>
                    </h4>
                    <a type="submit" class="btn btn-lg btn-primary"
                       th:href="@{'/cart/add/' + ${book.id}}">Add to Cart</a>
                </div>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3" th:text="${book.title}"></h4>
                <div class="mb-3">
                    <p th:text="'author: ' + ${book.author.getName()}"/>
                </div>
                <div class="mb-3">
                    <h5>Description: </h5>
                    <p th:text="${book.description}"/>
                </div>
                <div class="mb-3">
                    <h5>Rating:</h5>
                    <span class="badge badge-secondary badge-pill" th:text="${book.rating}"/>
                </div>
            </div>
        </div>
        <p>
        <div class="parent-container">
            <i th:each="image : ${images}">
                <a th:href="${image.link}"><img th:src="${image.link}" width="150" height="100%"></a>
            </i></div>
        </p>
        <p><a class="btn btn-lg btn-primary" href="/store">Continue shopping</a></p>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>