<!DOCTYPE html>
<html class="no-touch" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Project_Library</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://getbootstrap.com/">Bootstrap</a>
                <a class="nav-link" href="https://vk.com/dismuss_s">Contact</a>
            </nav>
        </div>
    </header>
    <main class="inner cover" role="main">
        <h1 class="cover-heading">Project Library</h1>
        <p class="lead">
            Hello, friend! This is my project - Library.
            For more information click on the button
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-primary" href="/library">Get started</a>
        </p>
    </main>
</div>
</body>
</html>