<!DOCTYPE html>
<html class="no-touch" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Welcome to Daedalus</title>
    <th:block th:insert="fragments/settings :: head" />
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Daedalus</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://getbootstrap.com/">Bootstrap</a>
                <a class="nav-link" href="https://vk.com/dismuss_s">Contact</a>
            </nav>
        </div>
    </header>
    <main class="inner cover" role="main">
        <h1 class="cover-heading">Daedalus</h1>
        <p class="lead">
            Hello, friend! This is just book store.
            For more information click on the button
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-primary" href="/store">Get started</a>
        </p>
    </main>
</div>
</body>
</html>