<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.getUsername()}" />
    <th:block th:insert="fragments/settings :: head" />
</head>
<body>
<header th:insert="fragments/header :: header" > </header>
<main>
    <div class="container">
        <p th:text="${user.getUsername()}"/>
        <p th:text="${user.getPassword()}"/>
        <p th:text="${user.getRole()}"/>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <a th:href="@{/}">Return to the main page</a>
    </div>
</main>
</body>
</html>