<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
    <script type = "application/javascript" th:src="@{/js/someFunctions.js}"> </script>
    <script type = "application/javascript" th:src="@{/js/jquery.magnific-popup.js}"> </script>
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Information</h1>
</header>
<p th:text="'id: ' + ${book.id}" />
<p th:text="'title: ' + ${book.title}" />
<p th:text="'author: ' + ${book.author}" />
<p th:text="'description: ' + ${book.description}" />
<p th:text="'rating: ' + ${book.rating}" />
<p th:text="'cost: ' + ${book.cost}" />
<p><div class="parent-container" >
<i th:each="image : ${images}">
    <a th:href="${image.link}"><img th:src ="${image.link}" width="150" height="100"></a>
</i></div></p>
<a href="/library">Return to the main page</a>
</body>
</html>