<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
    <script type = "application/javascript" th:src="@{/js/someFunctions.js}"> </script>
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
</head>
<body>
<header>
    <h1>Information</h1>
</header>
<p th:text="'id: ' + ${book.id}" />
<p th:text="'title: ' + ${book.title}" />
<p th:text="'author: ' + ${book.author}" />
<p th:text="'description: ' + ${book.description}" />
<p th:text="'rating: ' + ${book.rating}" />
<p th:text="'cost: ' + ${book.cost}" />
<div class="parent-container">
    <a href="https://wallbox.ru/wallpapers/main/201546/13dcd7162ea7a31.jpg">Open popup 1</a>
    <a href="https://wallbox.ru/wallpapers/main/201546/13dcd7162ea7a31.jpg">Open popup 2</a>
    <a href="https://wallbox.ru/wallpapers/main/201546/13dcd7162ea7a31.jpg">Open popup 3</a>
</div>
<!--
<p><img th:src ="${book.image}" width="350" height="250"></p>
-->
<a href="/library">Return to the main page</a>
</body>
</html>