<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
    <script type = "application/javascript" th:src="@{/js/someFunctions.js}"> </script>
</head>
<body>
<header>
    <h1>Information</h1>
</header>
<p th:text="'id: ' + ${book.id}" />
<p th:text="'title: ' + ${book.title}" />
<p th:text="'author: ' + ${book.author}" />
<p th:text="'description: ' + ${book.description}" />
<p th:text="'rating: ' + ${book.rating}" />
<p th:text="'cost: ' + ${book.cost}" />
<a href="/library">Return to the main page</a>
</body>
</html>