<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
    <script type = "application/javascript" th:src="@{/js/someFunctions.js}"> </script>
</head>
<body>
<header>
    <h1>Library</h1>
</header>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Link</th>
        <th>Cart</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td class="text" th:text="${book.id}">...</td>
            <td class="text" th:text="${book.title}">...</td>
            <td class="text" th:text="${book.author}">...</td>
            <td class="text" th:text="${book.description}">...</td>
            <td><a th:href="@{'/library/book/' + ${book.id}}">Watch more...</a></td>
            <td><a th:href="@{'/library/cart/' + ${book.id}}">Add to Cart</a></td>
        </tr>
    </th:block>

</table>

<p><a href="/library/cart">Open your cart</a></p>
<p><button id = "hi"> Activate alert </button></p>
<p><button id = "showAuthors" > Show authors </button></p>
<div id = "authors" style = "background-color:#eee;"> </div>
</body>
</html>